li {
    white-space: nowrap;
    overflow: hidden;
    
}

.riskList {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.yAxisLabel {
    vertical-align: middle;
	text-align: center;
}